.btn {
  -fx-background-color: #2471a3;
  -fx-text-fill: #fff;
  -fx-border: 1px;
  -fx-border-color: #2471a3;
}
.btn:hover {
  -fx-background-color: #fff;
  -fx-text-fill: #2471a3;
  -fx-border: 1px;
  -fx-border-color: #2471a3;
}
.bg-blue {
  -fx-background-color: #2471a3;
}
.bg-white {
  -fx-background-color: #fff;
}
