$color-blue = #2471a3
$color-white = #ffffff

.btn
  -fx-background-color $color-blue
  -fx-text-fill $color-white
  -fx-border 1px
  -fx-border-color $color-blue
  &:hover
    -fx-background-color $color-white
    -fx-text-fill $color-blue
    -fx-border 1px
    -fx-border-color $color-blue

.bg-blue
  -fx-background-color $color-blue

.bg-white
  -fx-background-color $color-white

